@model CarShare.Domain.Entities.User

@{
    ViewBag.Title = "CarShare : SignUp";
}

<div class="home-info-box float-left">
        
        <section id="about">
        
        <div id="box">
            
        <h4 class="about-heading">Offer car</h4>
        <p class="intro-para">You can offer your car in few minutes. All you need is vehicle registration, the mileage and a photo of your car.
            You can also hire a car according to your need.so,Creating account now?</p><br><br>
    
        <h4 class="about-heading">Hire a Van Near You</h4>
        <p class="intro-para">CarShare has just what you need whether you need a van hire in Pakistan,Our vans are easy to load and easy to handle. Check out our rates and hire a van today.</p><br><br>

        <h4 class="about-heading">Van Hire with Great Service</h4>

        <p class="intro-para">Hire a van from CarShare and enjoy our personalized customer service.Try a small van when you need just a bit more capacity than a car.A large van hire is perfect for a special event or occasion when you have more to move.</p>

        </div>
  
        </section>    
        
        </div>
        
        <div class="sign-up-box float-right">
            
        <h1>SIGN UP</h1>
        
                    
            @using (Html.BeginForm("SignUp","Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationMessageFor(x => x.Name)

                @Html.EditorFor(x => x.Name)

                @Html.ValidationMessageFor(x => x.Email)

                @Html.EditorFor(x => x.Email)

                @Html.ValidationMessageFor(x => x.Password)

                @Html.EditorFor(x => x.Password)

                @Html.ValidationMessageFor(x => x.PasswordAgain)

                @Html.EditorFor(x => x.PasswordAgain)

                @Html.ValidationMessageFor(x => x.NIC)

                @Html.EditorFor(x => x.NIC)

                @Html.ValidationMessageFor(x => x.ContactNumber)

                @Html.EditorFor(x => x.ContactNumber)

                @Html.ValidationMessageFor(x => x.DriversLicense)

                @Html.EditorFor(x => x.DriversLicense)

                @Html.ValidationMessageFor(x => x.Address)

                @Html.EditorFor(x => x.Address)                

                @Html.ValidationMessageFor(x => x.PersonalDesc)

                @Html.EditorFor(x => x.PersonalDesc)

                <input type="file" name="Image" id="image1" />

                 <input type="submit" value="Sign Up"/>

            }


        </div>
        
        <div class="clear-both"></div>
