@model IEnumerable<CarShare.Domain.ViewEntities.DetailsView>

@{
    ViewBag.Title = "Index";
}

    @Html.Action("RenderSearchForm")

  <!-- search results view -->
      
      <div id="search-results-box" class="redBorder1px float-right">

        @if (Model != null)
        { 
        
            if( Model.Count() > 0 )
            {
                
                foreach (var d in Model)
                {
                    
                  <div class="result-listing redBorder1px">
                      
                        <div class="result-car-image greenBorder1px float-left">
                          <img src="images/a1.jpg" alt="Car title" class="car-thumb" />
                        </div>
                
                        <div class="result-info greenBorder1px float-right">
                          <h3 class="car-title">@d.Car.Title</h3>
                          <p class="desc-text-ext">
                            @d.Car.CarDesc
                          </p>
                
                          <p><b>Owner:</b> @d.User.Name <b> Location:</b> @d.Car.Location </p>
                
                          <a href="@Url.Action("Details","Search", new { id = d.Car.CarID})" target="_blank" class="details-btn">View Details</a>
                        </div>
                
                </div>
                    
                }
                
            }
            
        }
        
      </div>

